@use 'mixins' as *;
@use 'variables' as *;

html {
  font-size: 62.5%;
}

body {
  @include font-body-m-barlow-stack;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: $color-quaternary;
  color: $color-secondary;

}

body>header {
  position: absolute;
  top: 0;
  left: 0;
}

.isVisible {
  color: blue;
}

// .container {
//   padding: 2.4rem 2.4rem 4.8rem;
//   background: url('/images/home/background-home-mobile.jpg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   width: 375px;
//   min-height: 100vh;
// }