@use 'variables' as *;

// Font Stack
@mixin font-body-m-barlow-stack {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: $text-body-m;
  line-height: $leading-body-m;
  text-align: center;

}

// Media