@use 'variables' as *;

// Font Stack
@mixin font-body-m-barlow-stack {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: $text-body-m;
  line-height: $leading-body-m;
  text-align: center;

}

@mixin container($page) {
  padding: 12.1rem 2.4rem 4.8rem;
  background: url('/images/bg-images/background-' + $page +'-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 375px;
  min-height: 100vh;
}

// Media