@use 'variables' as *;

// Font Stack
@mixin font-body-m-barlow-stack {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: $text-body-m;
  line-height: $leading-body-m;
  text-align: center;

}

@mixin destination-title-span-data {
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: $tracking-wide;
  text-transform: uppercase;

  & span {
    font-family: $font-bellefair-serif;
    display: block;
    margin-top: 1.2rem;
    font-size: $text-h5;
    line-height: 3.2rem;
    color: $color-primary;
  }
}

@mixin container($page) {

  background: url('/images/bg-images/background-' + $page +'-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 375px;
  min-height: 100vh;
}

// Media