// Media Screens
$media-md: 48em; // 768px
$media-lg: 64em; // 1024px
$media-xl: 80em; // 1280px
$media-2xl: 96em; // 1536px

// Font Family
$font-barlow-sans: 'Barlow Condensed',
  sans-serif;
$font-bellefair-serif: 'Bellefair', serif;

// Text Size
$text-body: 1.8rem;
$text-body-m: 1.5rem;
$text-nav: 1.6rem;
$text-subheading1: 2.8rem;
$text-subheading2: 1.4rem;
$text-h1: 15rem;
$text-h2: 10rem;
$text-h3: 5.6rem;
$text-h4: 3.2rem;
$text-h5: 2.8rem;

// Line Height
$leading-body-m: 2.5rem;

// Char Spacing
$tracking-normal: 0px;
$tracking-wide: 2.3625px;
$tracking-wider: 2.7px;
$tracking-widest: 4.725px;

// Text Color
$color-primary: #fff;
$color-secondary: #d0d6f9;
$color-tertiary: #979797;
// BG Color
$color-quaternary: #0b0d17;

// explore button size;
$button-explore-size: 12.5rem;