@use '../variables' as *;

.main section {
  margin-bottom: 8rem;
}

.title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.title span {
  display: block;
  font-family: $font-bellefair-serif;
  margin: 1.6rem 0;
  font-size: 8rem;
  line-height: 10rem;
  color: $color-primary;
}

.description {}

.exploreLink {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: $button-explore-size;
  height: $button-explore-size;
  line-height: $button-explore-size;
  font-size: 2rem;
  font-family: $font-bellefair-serif;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border-radius: 20rem;
  color: $color-quaternary;
  background: $color-primary;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: $button-explore-size;
    height: $button-explore-size;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: $color-primary;
    opacity: .1;
    transition: all .2s ease;
  }

  &:hover::before {
    width: calc(#{$button-explore-size} + 64.2336%);
    height: calc(#{$button-explore-size} + 64.2336%);
  }
}