@use '../variables';

.main {
  padding: 2.4rem 2.4rem 4.8rem;
  background: url('/images/home/background-home-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 375px;
  min-height: 100vh;
}

.title {}

.title span {
  display: block;
}

.description {}

.button {}