@use '../variables' as *;

.main section {
  margin-bottom: 8rem;
}

.title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.title span {
  display: block;
  font-family: $font-bellefair-serif;
  margin: 1.6rem 0;
  font-size: 8rem;
  line-height: 10rem;
  color: $color-primary;
}

.description {}

.exploreLink {
  display: inline-block;
  vertical-align: middle;
  width: 12.5rem;
  height: 12.5rem;
  line-height: 12.5rem;
  font-size: 2rem;
  font-family: $font-bellefair-serif;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border-radius: 20rem;
  color: $color-quaternary;
  background: $color-primary;
}